{% assign blog = section.settings.new-blog %}

{{ blog.articles_count }}

{% unless blog.articles_count == 0 %}
  <div class="page-width">
    {% for article in blog.articles limit:section.settings.posts-range %}
      <div class="grid  ">
        <a href='{{ article.url }}'>
          <img src='{{ article.image | img_url: '500x' }}'/>
        </a>
        <a href="{{ article.url }}">
          {{ article.title }}
        </a>
        <br>
      </div>
    {% endfor %}
  </div>

{% endunless %}

{% schema %}
  {
    "name": "New Blog Posts",
    "settings": [
      {
        "id": "posts-range",
        "type": "range",
        "label": "Range",
        "min": 3,
        "max": 12,
        "step": 3,
        "default": 3
      }, {
        "id": "new-blog",
        "type": "blog",
        "label": "Blog"

      }
    ],
    "presets": [
      {
        "name": "New Blog Posts",
        "category": "Posts"
      }

    ]
  }
{% endschema %}