<section class="column-border masks-section-padding pink-gradient " id="{{ section.id }}">
  <div class="container justify-content-center">
    <!-- HEADER -->
    <div class="g-5 row justify-content-center pb-5 px-5">
      <div class="col-12 col-lg-10 col-xl-8 text-center">
        <h1 class="mt-0">{{ section.settings.heading }}</h1>
        <p>{{ section.settings.subheading }}</p>
      </div>
    </div>
    <!-- COLS -->
    <div class="g-5 row justify-content-center py-5 px-5">
      {% for block in section.blocks %}
        {% assign column_width = forloop.index0 | modulo:2 %}
        {% assign small_icon_padding = forloop.index0 | plus: 2 %}
        {%- if column_width  == 0 -%}
          <div class="col-12 col-sm-8 col-lg-4">
            <img class="img-fluid pt-4 pt-md-{{ small_icon_padding }}" loading="lazy" src="{{ block.settings.image_url | image_url: width: 2400, height: 2400 }} ">
          </div>
        {%- else -%}
          <div class="col-4 col-lg-2">
            <img class="img-fluid pt-4 pt-md-{{ small_icon_padding }}" loading="lazy" src="{{ block.settings.image_url | image_url: width: 2400, height: 2400 }} ">
            <h1></h1>
          </div>
        {%- endif -%}
      {% endfor %}
    </div>
    <!-- BUTTON -->
    <div class="g-5 row justify-content-center mt-5">
      <div class="masks-btn">
        {{ section.settings.btn_text }}
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "four-cols-random",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "Get professional results at home"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable",
        "default": "Designed with the same optimized energy output and wavelengths of light as our gold-standard Omnilux Medical professional devices, you get professional results in a single, 10-minute treatment session, at a fraction of the cost."
      }, {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "info": "Leave empty to disable",
        "default": "SEE OUR PROVEN RESULTS"
      }
    ],
    "presets": [
      {
        "name": "four-cols-random",
        "category": "Content"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
            "type": "text",
            "id": "icon",
            "label": "Icon Name"
          }, {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }, {
            "type": "image_picker",
            "id": "image_url",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}