<section class="video-hero">
  <video src="https://cdn.shopify.com/videos/c/o/v/4c0d565578a84e46a044cb4f6e517eef.mp4" autoplay muted class="video-fit"></video>
  <div class=" position-absolute top-0 w-100 h-100 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 text-center text-md-start video-heading">
          {%- unless section.settings.heading == "" -%}
            <div class="d-none d-md-block richtext-h1 mb-5">
              {{ section.settings.heading }}
            </div>
          {%- endunless -%}
          {%- unless section.settings.mobile_heading == "" -%}
            <div class="d-block d-md-none richtext-h1 mb-5">
              {{ section.settings.mobile_heading }}
            </div>
          {%- endunless -%}
          {%- unless section.settings.subheading == "" -%}
            <div class="d-none d-md-block richtext-h3 mb-5">
              {{ section.settings.subheading }}
            </div>
          {%- endunless -%}
          {%- unless section.settings.mobile_subheading == "" -%}
            <div class="d-block d-md-none richtext-h3 mb-5">
              {{ section.settings.mobile_subheading }}
            </div>
          {%- endunless -%}
          <a href="#" class="masks-btn masks-btn-white my-0">{{ section.settings.btn_text }}</a>
        </div>
      </div>
    </div>
  </div>

</section>

{% schema %}
  {
    "name": "header-video-section",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "subheading",
        "info": "Leave empty to disable"
      },
      {
        "type": "richtext",
        "id": "mobile_subheading",
        "label": "Mobile Subeading",
        "info": "Leave empty to disable"
      },
      {
        "id": "heading",
        "type": "richtext",
        "label": "Heading",
        "info": "Leave empty to disable"
      }, {
        "type": "richtext",
        "id": "mobile_heading",
        "label": "Mobile Heading",
        "info": "Leave empty to disable"
      }, {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "Shop Now"
      }
    ],
    "presets": [
      {
        "name": "header-video-section",
        "category": "Content"
      }
    ]
  }
{% endschema %}