<section class="column-border masks-section-padding" style="background-color: {{ section.settings.bg_color }}" id="{{ section.id }}">
  <div class="container-xxl">
    <div class="row d-flex g-1 justify-content-between">
      <div class="col-12 d-flex flex-column align-self-center px-5 col-lg-4 text-center text-lg-start">
        <h1 class="mb-3 pb-0">{{ section.settings.heading }}</h1>
        <p class="mb-5 pb-3 pb-lg-0 mb-lg-0">{{ section.settings.subheading }}</p>
      </div>


      {% for block in section.blocks limit:2 %}
        <div class="col-12 col-sm-6 col-lg-4 text-lg-start px-3 text-center d-flex">
          <div class="d-flex flex-column justify-content-between">
            <div>
              <img class="img-fluid" src="{{ block.settings.image | img_url: '2400x' }}">
              <h2>{{ block.settings.heading }}</h2>
            </div>
            <div>
              <p class="mb-3">{{ block.settings.text }}</p>
              <div class="masks-btn">{{ block.settings.btn_text }}</div>
            </div>
          </div>
        </div>
      {%- endfor -%}

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "three-cols-standard",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#eae6da"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "What’s your skin concern?"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable",
        "default": "Find the right device with clinically-proven results for clearer and healthier skin."
      }
    ],
    "presets": [
      {
        "name": "three-cols-standard",
        "category": "Content"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Content",
        "settings": [

          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }, {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
          }, {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}