<style>
  .imegi {
    background-size: cover;
  }
</style>

<section class="column-border masks-section-padding" id="{{ section.id }}">
  <div class="container-xxl">
    <div class="row d-flex g-3 g-md-5 align-items-lg-center align-items-md-start">

      <div class="col-12 col-lg-4 d-row text-center text-lg-start ">
        <h1>What’s your skin concern?</h1>
        <p>Find the right device with clinically-proven results for clearer and healthier skin.</p>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 d-row text-center text-sm-start d-flex justify-content-center  flex-wrap">

        {% unless settings.product == blank %}
          {% assign product = all_products[settings.product] %}

          {% if product %}
            <h1>{{ product.title }} - {{ product.price }}</h1>
          {% else %}
            No product, or invalid product, selected.
          {% endif %}
        {% endunless %}

        <img class="img-fluid" src="{{ section.settings.image_product1 | img_url: '2400x' }}">
        <div>
          <h2>“I want plumper, younger-looking skin”</h2>
          <p class="mb-3">Omnilux Contour™ red and near-infrared LED devices reduce fine lines, wrinkles, and the appearance of pigmentation and redness, while restoring an astonishingly healthy, youthful glow.</p>
          <div class="masks-btn">Shop Contour</div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 d-row text-center text-sm-start d-flex justify-content-center flex-wrap">
        <img class="img-fluid" src="{{ section.settings.image_product2 | img_url: '2400x' }}">
        <div>
          <h2>“I want plumper, younger-looking skin”</h2>
          <p class="mb-3">Omnilux Contour™ red and near-infrared LED devices reduce fine lines, wrinkles, and the appearance of pigmentation and redness, while restoring an astonishingly healthy, youthful glow.</p>
          <div class="masks-btn">Shop Clear</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "three-cols-standard",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#eae6da"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "How it works?"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable"
      }, {
        "type": "image_picker",
        "id": "image_product1",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "image_product2",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "three-cols-standard",
        "category": "Content"
      }
    ]
  }
{% endschema %}