<section class="column-border masks-section-padding" id="{{ section.id }}">
  <div class="container">
    <div class="row d-flex g-5">

      <!-- Second Column-->
      {% for item in section.settings.product_list %}
        {% assign index = forloop.index0 %}

        {%- if index == 0 -%}
          <div class="col-12 col-lg-6 d-flex ">
            <div class="text-start d-flex flex-column justify-content-between">
              <img class="img-fluid" src="{{ item.featured_image | img_url: "2400x"}}">
              <div class="m-0 p-0">
                <h3 class="mt-3">{{ item.title }}</h3>
                <p class="m-0 ">{{ item.price | money }}</p>
              </div>
              <div class="d-block d-lg-none text-center mb-5">
                <h1>{{ section.settings.heading }}</h1>
                <div class="masks-btn">{{ section.settings.btn_text }}</div>
              </div>
            </div>
          </div>

        {%- else -%}

          <div class="col-6 col-lg-3 d-flex">
            <div class="row align-content-between text-center ">
              <div class="text-start">
                <img class="img-fluid" src="{{ item.featured_image | img_url: 'large' }}">
                <h3 class="mt-3">{{ item.title }}</h3>
                <p>{{ item.price | money }}</p>
              </div>
              {%- if index == 1 -%}
                <div class="d-none d-lg-block text-lg-start">
                  <h1 class="mt-0">{{ section.settings.heading }}</h1>
                  <div class="masks-btn mt-0">{{ section.settings.btn_text }}</div>
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      {% endfor %}
    </div>
    <!-- End Container-->
  </div>
</section>

{% schema %}
  {
    "name": "three-cols-mixed",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "Your favorites"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable"
      }, {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "Shop All"
      }, {
        "type": "product_list",
        "id": "product_list",
        "label": "Products",
        "limit": 3
      }
    ],
    "presets": [
      {
        "name": "three-cols-mixed",
        "category": "Content"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
            "type": "text",
            "id": "icon",
            "label": "Icon Name"
          }, {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }, {
            "type": "image_picker",
            "id": "image_url",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}