{% assign reverse = "" -%}
{% assign padding = "-left" -%}

<section id="{{ section.id }}" style="{{- section.settings.section_border -}};">
  <div class="container-fluid">

    {%- if section.settings.reverse == true -%}
      {%- assign reverse = "-reverse" -%}
      {%- assign padding = "-right" -%}
    {%- endif -%}

    <div class="row d-flex d-column flex-row{{ reverse }} px-md-0">
      <div class="col-12 col-xl-6 d-flex flex-column text-center text-xl-start justify-content-center custom-padding{{ padding }}">
        <!-- 1st Column-->
        <div class="py-5 my-5 px-5">
          <h2 class="mt-0 h1">{{ section.settings.heading }}</h2>
          <p>{{ section.settings.subheading }}</p>
          <div class="masks-btn ">{{ section.settings.btn_text }}</div>
        </div>
      </div>
      <div class="col-12 col-xl-6 d-flex flex-column px-0">
        <img
          class="img-fluid"
          loading="lazy"
          src="{{ section.settings.image | image_url }}">
      </div>
    </div>
  </div>
  <!--2nd Row-->
</section>

{% schema %}
  {
    "name": "two-cols-full",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "checkbox",
        "id": "reverse",
        "label": "Reverse",
        "default": false
      },
      {
        "type": "select",
        "id": "section_border",
        "label": "Section Border",
        "options": [
          {
            "value": "",
            "label": "None"
          }, {
            "value": "border-top: 1px solid black",
            "label": "Top"
          }, {
            "value": "border-bottom: 1px solid black",
            "label": "Bottom"
          }
        ],
        "default": ""
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "Trusted and used by dermatologists worldwide?"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable",
        "default": "Omnilux is recognized as the world leader in medical-grade LED light therapy devices. For the first time, there are now home-use devices based on Omnilux’s proven, professional-grade technology."
      }, {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "info": "Leave empty to disable",
        "default": "SHOP ALL"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "two-cols-full",
        "category": "Content"
      }
    ]
  }
{% endschema %}