<style>
  .henlo{
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
</style>

<section class="column-border" id="{{ section.id }}">
  <div class="container-fluid">    
      <div class="row d-flex ">
          <!-- 1st Column-->
        <div class="col-12 col-xl-6 d-flex flex-column justify-content-center order-2 order-xl-1 p-0 henlo">
          <div class="text-center custom-margin-left text-xl-start w-75">
            <h1 class="mt-0" >{{ section.settings.heading }}</h1>
            <p  >{{ section.settings.subheading }}</p>
            <div class="masks-btn ">SHOP ALL</div>
          </div>          
        </div>
        <div class="col-12 col-xl-6 d-flex flex-column order-1 order-xl-2 p-0">
          <img class="img-fluid" loading="lazy" src="{{ section.settings.image_variant1 | image_url }}">
        </div>
      </div>

    <!--2nd Row-->
    <div class="row d-flex ">
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center p-0 mb-0">
        <img class="img-fluid" loading="lazy" src="{{ section.settings.image_variant2 | image_url: width: 2400, height: 2400 }}">
      </div>
      <div class="col-12 d-flex flex-column col-xl-6 justify-content-center henlo">
        <div class="text-center custom-margin-left text-xl-start w-75">
          <h1 class="mt-0" >{{ section.settings.heading_two }}</h1>
          <p>{{ section.settings.subheading_two }}</p>
          <div class="masks-btn mb-5">SHOP ALL</div>
        </div>
      </div>
    </div>
</section>

{% schema %}
  {
    "name": "two-cols-full",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#eae6da"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "Trusted and used by dermatologists worldwide?"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable",
        "default": "Omnilux is recognized as the world leader in medical-grade LED light therapy devices. For the first time, there are now home-use devices based on Omnilux’s proven, professional-grade technology."
      }, {
        "type": "text",
        "id": "heading_two",
        "label": "Heading Two",
        "info": "Leave empty to disable",
        "default": "Comfortable & convenient"
      }, {
        "type": "text",
        "id": "subheading_two",
        "label": "Subheading Two",
        "info": "Leave empty to disable",
        "default": "Our devices are designed to perfectly conform to each treatment area for maximum comfort and results. The rechargeable controller is completely portable, allowing convenient treatments anytime, anywhere."
      }, {
        "type": "image_picker",
        "id": "image_variant1",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "image_variant2",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "two-cols-full",
        "category": "Content"
      }
    ]
  }
{% endschema %}